.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=text]{
    margin-right: 5px;
    border: black solid;
}
input[type=password]{
    border: black solid;
}